<!--<div class="account-pages-mix overlay-mix"></div>-->
<!--<div class="clearfix"></div>-->
<div class="wrapper-page">
  <div class="m-t-40 card-box">
    <div class="text-center">
      <h4 class="text-uppercase font-bold m-b-0">Secure Login</h4>
    </div>

    <div style="padding: 5px;"></div>

    <div *ngIf="anErrorOccurred" align="center" class="alert alert-danger alert-dismissible" role="alert">
      <a (click)="resetError()" class="close" data-dismiss="alert" aria-label="close">&times;</a>
      Invalid Username or Password
    </div>

    <div class="panel-body">

      <form class="form-horizontal m-t-20" [formGroup]="loginForm" novalidate>

        <div class="form-group ">
          <div class="col-xs-12">
            <input class="form-control"
                   type="text"
                   id="username"
                   formControlName="username"
                   placeholder="Username">

            <div style="padding: 5px"></div>

            <div *ngIf="loginForm.controls['username'].invalid && (loginForm.controls['username'].dirty || loginForm.controls['username'].touched)"
                 class="alert alert-danger">

              <div *ngIf="loginForm.controls['username'].errors.required">
                Name is required.
              </div>
              <div *ngIf="loginForm.controls['username'].errors.minlength">
                Name must be at least 4 characters long.
              </div>
            </div>

          </div>
        </div>

        <div class="form-group">
          <div class="col-xs-12">
            <input class="form-control"
                   type="password"
                   id="password"
                   formControlName="password"
                   placeholder="Password">

            <div style="padding: 5px"></div>

            <div *ngIf="loginForm.controls['password'].invalid &&
            (loginForm.controls['password'].dirty || loginForm.controls['password'].touched)"
                 class="alert alert-danger">
              <div *ngIf="loginForm.controls['password'].errors.required">
                Password is required.
              </div>
            </div>
          </div>
        </div>

        <div class="form-group m-t-30 m-b-0">
          <div class="col-sm-12">
            <a href="#" class="text-muted"><i class="fa fa-lock m-r-5"></i> Forgot your password?</a>
          </div>
        </div>



        <div class="form-group text-center m-t-30">
          <div class="col-xs-12">
            <div (click)="logUserIn()"
                 class="btn btn-success btn-bordred btn-block waves-effect waves-light ld-ext-right"
                 type="submit"
                 [attr.disabled]="signingUserIn ? true : null">
              <div *ngIf="!signingUserIn">Log In</div>
              <div *ngIf="signingUserIn">Logging In
                <div  class="ld ld-ring ld-spin"></div>
              </div>
            </div>
          </div>
        </div>


      </form>

    </div>
  </div>
  <!-- end card-box-->


  <!--<div class="row">-->
  <!--<div class="col-sm-12 text-center">-->
  <!--<p class="text-muted">Don't have an account? <a href="#" class="text-success m-l-5"><b>Sign Up</b></a></p>-->
  <!--</div>-->
  <!--</div>-->
</div>
