<header id="topnav">

  <div *ngIf="hideToolbarMenu" class="topbar-main">
    <div class="container">

      <!-- LOGO -->
      <div class="topbar-left">
        <a href="index.html" class="logo">
          <img src="assets/images/logo.svg" width="250px;" style="padding-bottom:10px;">
        </a>
      </div>
      <!-- End Logo container-->


      <div class="menu-extras">

        <ul class="nav navbar-nav navbar-right pull-right">
          <li>
            <a href="" class="navbar-left app-search pull-left hidden-xs">
              Contact Us
            </a>
          </li>
          <li>
            <a href="" class="navbar-left app-search pull-left hidden-xs">
              How To
            </a>
          </li>
        </ul>
        <div class="menu-item">
          <!-- Mobile menu toggle-->
          <a class="navbar-toggle">
            <div class="lines">
              <span></span>
              <span></span>
              <span></span>
            </div>
          </a>
          <!-- End mobile menu toggle-->
        </div>
      </div>

    </div>
  </div>

  <!---Not logged in navbar --->
  <div *ngIf="!user" class="navbar-custom">
    <div class="container">
      <div id="navigation">
        <!-- Navigation Menu-->
        <ul class="navigation-menu">
          <li>
            <a href=""><i class="fa fa-home"></i> <span> Home </span> </a>
          </li>

          <li class="pull-left">
            <a routerLink="/login"> Login </a>
          </li>
        </ul>

        <!-- End navigation menu  -->
      </div>
    </div>
  </div>
  <!--Logged in navbar-->
  <div *ngIf="user" class="navbar-custom">
    <div class="container">
      <div id="navigation">
        <!-- Navigation Menu-->
        <ul class="navigation-menu">

          <li>
            <a href="index.html"><i class="zmdi zmdi-view-dashboard"></i> <span> Dashboard </span> </a>
          </li>
          <li>
            <a href="reprint-certificate.html"><i class="fa fa-print"></i> <span> Reprinting </span> </a>
          </li>
          <li>
            <a href=""><i class="fa fa-share-alt-square"></i> <span> Miscellaneous </span> </a>
          </li>

        </ul>
        <!-- End navigation menu  -->
        <div class="menu-extras">

          <ul class="nav navbar-nav navbar-right pull-right">
            <li>
              <!-- Notification -->
              <div class="notification-box">
                <ul class="list-inline m-b-0">
                  <li>
                    <a href="javascript:void(0);" class="right-bar-toggle">
                      <i class="zmdi zmdi-notifications-none"></i>
                    </a>
                    <div class="noti-dot">
                      <span class="dot"></span>
                      <span class="pulse"></span>
                    </div>
                  </li>
                </ul>
              </div>
              <!-- End Notification bar -->
            </li>

            <li class="dropdown user-box">
              <a href="" class="dropdown-toggle waves-effect waves-light profile " data-toggle="dropdown" aria-expanded="true" style="line-height: 34px">
                <i class="fa fa-user" style="color:white; font-size:18px;"></i>
              </a>

              <ul class="dropdown-menu">
                <li><a href="javascript:void(0)"><i class="ti-user m-r-5"></i> Profile</a></li>
                <li><a href="javascript:void(0)"><i class="ti-settings m-r-5"></i> Settings</a></li>
                <li><a (click)="logoutUser()" ><i class="ti-power-off m-r-5"></i> Logout</a></li>
              </ul>
            </li>
          </ul>
          <div class="menu-item">
            <!-- Mobile menu toggle-->
            <a class="navbar-toggle">
              <div class="lines">
                <span></span>
                <span></span>
                <span></span>
              </div>
            </a>
            <!-- End mobile menu toggle-->
          </div>
        </div>

      </div>
    </div>
  </div>
</header>
