<div class="ui segment root">
  <h2 class="ui dividing header center aligned">
    <div class="content">
      Reset Password
    </div>
  </h2>

  <div class="ui attached error message" *ngIf="error">
    {{error}}
  </div>

  <form class="ui form" [formGroup]="form" (submit)="submit()">
    <div class="required field" [class.error]="isInvalid('email')">
      <label>Email</label>
      <input type="text" name="email" placeholder="Email" formControlName="email">
    </div>
    <div class=" required field" [class.error]="isInvalid('password')">
      <label>New Password</label>
      <input type="password" placeholder="Password" formControlName="password">
      <div ngxErrors="password">
        <div ngxError="minlength" class="input-error-message">
          Password must be 4 characters or more
        </div>
      </div>
    </div>
    <div class="required field" [class.error]="isInvalid('password2')">
      <label>Confirm Password</label>
      <input type="password" placeholder="Confirm Password" formControlName="password2">
      <div ngxErrors="password2">
        <div ngxError="match" class="input-error-message">
          Passwords do not match
        </div>
      </div>
    </div>
    <button type="submit" class="ui fluid large primary submit button" [class.disabled]="form.invalid || loading">
      <i class="notched circle loading icon" *ngIf="loading"></i>
      Submit</button>
  </form>
</div>