@charset "UTF-8";
.clear {
    clear: both;
}

/* ------------------------------------- */
/* 2. Specific design .................. */
/* ------------------------------------- */

.content {
    height: 100vh;
    overflow: hidden;
    z-index: 10;
    position: relative;
    -webkit-box-align: center;
    -moz-box-align: center;
    box-align: center;
    -webkit-align-items: center;
    -moz-align-items: center;
    -ms-align-items: center;
    -o-align-items: center;
    align-items: center;
    -ms-flex-align: center;
    display: -webkit-box;
    display: -moz-box;
    display: box;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -moz-box-pack: center;
    box-pack: center;
    -webkit-justify-content: center;
    -moz-justify-content: center;
    -ms-justify-content: center;
    -o-justify-content: center;
    justify-content: center;
    -ms-flex-pack: center;
}
.content .content-box {
    width: auto;
    position: relative;
}
.content .content-box .big-content {
    position: relative;
    width: 22rem;
    min-height: 22rem;
    margin: 0 auto 3rem;
}
.content .content-box .big-content .list-square {
    float: left;
}
.content .content-box .big-content .list-line {
    float: left;
    margin-left: 2rem;
}
.content .content-box .big-content span.square {
    display: block;
    background: transparent;
    width: 5rem;
    height: 5rem;
    -webkit-border-radius: 0.5rem;
    -moz-border-radius: 0.5rem;
    -ms-border-radius: 0.5rem;
    border-radius: 0.5rem;
    border: 1rem solid #00c8aa;
    margin-bottom: 1.5rem;
}
.content .content-box .big-content span.line {
    display: block;
    background: #00c8aa;
    width: 15rem;
    height: 1rem;
    -webkit-border-radius: 0.5rem;
    -moz-border-radius: 0.5rem;
    -ms-border-radius: 0.5rem;
    border-radius: 0.5rem;
    margin-bottom: 2.3rem;
}
.content .content-box .big-content span.line:nth-child(2) {
    width: 10rem;
}
.content .content-box .big-content span.line:nth-child(4) {
    width: 10rem;
}
.content .content-box .big-content span.line:nth-child(6) {
    width: 10rem;
}
.content .content-box .big-content .fa-search {
    position: absolute;
    top: 10rem;
    left: 15rem;
    font-size: 10rem;
    color: #00c8aa;
    -webkit-animation: corner 5s infinite;
    -moz-animation: corner 5s infinite;
    animation: corner 5s infinite;
}
.content .content-box .big-content .fa-search.color {
    color: #FF0084;
}

@-webkit-keyframes corner {
    0% {
        -webkit-transform: translate(-2rem, 0);
        -webkit-animation-timing-function: 0, 0.02, 0, 1.01;
    }
    20% {
        -webkit-transform: translate(-15rem, 2rem);
    }
    40% {
        -webkit-transform: translate(-7rem, -7rem);
        animation-timing-function: cubic-bezier(0, 0.02, 0, 1.01);
    }
    60% {
        -webkit-transform: translate(-15rem, -10rem);
    }
    80% {
        -webkit-transform: translate(2rem, -12rem);
    }
    100% {
        -webkit-transform: translate(-2rem, 0);
    }
}
@-moz-keyframes corner {
    0% {
        -moz-transform: translate(-2rem, 0);
        -moz-animation-timing-function: 0, 0.02, 0, 1.01;
    }
    20% {
        -moz-transform: translate(-15rem, 2rem);
    }
    40% {
        -moz-transform: translate(-7rem, -7rem);
        animation-timing-function: cubic-bezier(0, 0.02, 0, 1.01);
    }
    60% {
        -moz-transform: translate(-15rem, -10rem);
    }
    80% {
        -moz-transform: translate(2rem, -12rem);
    }
    100% {
        -moz-transform: translate(-2rem, 0);
    }
}
@keyframes corner {
    0% {
        -webkit-transform: translate(-2rem, 0);
        -moz-transform: translate(-2rem, 0);
        -ms-transform: translate(-2rem, 0);
        -o-transform: translate(-2rem, 0);
        transform: translate(-2rem, 0);
        -webkit-animation-timing-function: 0, 0.02, 0, 1.01;
        -moz-animation-timing-function: 0, 0.02, 0, 1.01;
        animation-timing-function: 0, 0.02, 0, 1.01;
    }
    20% {
        -webkit-transform: translate(-15rem, 2rem);
        -moz-transform: translate(-15rem, 2rem);
        -ms-transform: translate(-15rem, 2rem);
        -o-transform: translate(-15rem, 2rem);
        transform: translate(-15rem, 2rem);
    }
    40% {
        -webkit-transform: translate(-7rem, -7rem);
        -moz-transform: translate(-7rem, -7rem);
        -ms-transform: translate(-7rem, -7rem);
        -o-transform: translate(-7rem, -7rem);
        transform: translate(-7rem, -7rem);
        animation-timing-function: cubic-bezier(0, 0.02, 0, 1.01);
    }
    60% {
        -webkit-transform: translate(-15rem, -10rem);
        -moz-transform: translate(-15rem, -10rem);
        -ms-transform: translate(-15rem, -10rem);
        -o-transform: translate(-15rem, -10rem);
        transform: translate(-15rem, -10rem);
    }
    80% {
        -webkit-transform: translate(2rem, -12rem);
        -moz-transform: translate(2rem, -12rem);
        -ms-transform: translate(2rem, -12rem);
        -o-transform: translate(2rem, -12rem);
        transform: translate(2rem, -12rem);
    }
    100% {
        -webkit-transform: translate(-2rem, 0);
        -moz-transform: translate(-2rem, 0);
        -ms-transform: translate(-2rem, 0);
        -o-transform: translate(-2rem, 0);
        transform: translate(-2rem, 0);
    }
}

/* ------------------------------------- */
/* FLAT variant ........................ */
/* ------------------------------------- */
#particles-js {
    position: fixed;
    top: 25vh;
    left: 25vw;
    width: 50vw;
    height: 50vh;
    z-index: -10;
}

@-webkit-keyframes kenburns {
    0% {
        -webkit-transform: scale(1);
    }
    50% {
        -webkit-transform: scale(1.2);
    }
    100% {
        -webkit-transform: scale(1);
    }
}
@-moz-keyframes kenburns {
    0% {
        -moz-transform: scale(1);
    }
    50% {
        -moz-transform: scale(1.2);
    }
    100% {
        -moz-transform: scale(1);
    }
}
@keyframes kenburns {
    0% {
        -webkit-transform: scale(1);
        -moz-transform: scale(1);
        -ms-transform: scale(1);
        -o-transform: scale(1);
        transform: scale(1);
    }
    50% {
        -webkit-transform: scale(1.2);
        -moz-transform: scale(1.2);
        -ms-transform: scale(1.2);
        -o-transform: scale(1.2);
        transform: scale(1.2);
    }
    100% {
        -webkit-transform: scale(1);
        -moz-transform: scale(1);
        -ms-transform: scale(1);
        -o-transform: scale(1);
        transform: scale(1);
    }
}
/* ------------------------------------- */
/* Bubble variant ...................... */
/* ------------------------------------- */
#canvasbg, #canvas {
    position: fixed;
    z-index: 10;
    top: 0;
    left: 0;
    background: transparent;
}

/* ------------------------------------- */
/* Mozaïc variant ...................... */
/* ------------------------------------- */
#dotty {
    position: fixed;
    top: 0;
    left: 0;
}

/* ------------------------------------- */
/* 4. Media Queries .................... */
/* ------------------------------------- */
/* Notebook devices @media only screen and (max-width: 1200px) */
/* Medium Devices, Desktops @media only screen and (max-width: 992px) */
/* Small Devices, Tablets @media only screen and (max-width: 768px) */
/* Extra Small Devices, Phones @media only screen and (max-width: 480px) */
@media only screen and (max-width: 480px) {


    .content {
        height: auto;
        display: block;
        padding: 3rem 0 5rem;
    }
    .content .content-box {
        padding: 0 1rem;
    }
    .content .content-box .big-content {
        -webkit-transform: scale(0.8);
        -moz-transform: scale(0.8);
        -ms-transform: scale(0.8);
        -o-transform: scale(0.8);
        transform: scale(0.8);
        margin: 0 auto;
    }



    #particles-js {
        top: 0;
        left: 0;
        width: 100vw;
        height: 100vh;
    }
}

/*Particle breakdwon keyframes*/

.particle {
    position: absolute;
    border-radius: 50%;
    left: -36%;
}

@-webkit-keyframes particle-animation-1 {
    100% {
        -webkit-transform: translate3d(78vw, 50vh, 93px);
        transform: translate3d(78vw, 50vh, 93px);
    }
}

@keyframes particle-animation-1 {
    100% {
        -webkit-transform: translate3d(78vw, 50vh, 93px);
        transform: translate3d(78vw, 50vh, 93px);
    }
}
.particle:nth-child(1) {
    -webkit-animation: particle-animation-1 60s infinite;
    animation: particle-animation-1 60s infinite;
    opacity: 0.12;
    height: 8px;
    width: 8px;
    -webkit-animation-delay: -0.2s;
    animation-delay: -0.2s;
    -webkit-transform: translate3d(38vw, 13vh, 11px);
    transform: translate3d(38vw, 13vh, 11px);
    background: #26d92c;
}

@-webkit-keyframes particle-animation-2 {
    100% {
        -webkit-transform: translate3d(33vw, 65vh, 47px);
        transform: translate3d(33vw, 65vh, 47px);
    }
}

@keyframes particle-animation-2 {
    100% {
        -webkit-transform: translate3d(33vw, 65vh, 47px);
        transform: translate3d(33vw, 65vh, 47px);
    }
}
.particle:nth-child(2) {
    -webkit-animation: particle-animation-2 60s infinite;
    animation: particle-animation-2 60s infinite;
    opacity: 0.83;
    height: 6px;
    width: 6px;
    -webkit-animation-delay: -0.4s;
    animation-delay: -0.4s;
    -webkit-transform: translate3d(55vw, 9vh, 39px);
    transform: translate3d(55vw, 9vh, 39px);
    background: #26c7d9;
}

@-webkit-keyframes particle-animation-3 {
    100% {
        -webkit-transform: translate3d(8vw, 67vh, 33px);
        transform: translate3d(8vw, 67vh, 33px);
    }
}

@keyframes particle-animation-3 {
    100% {
        -webkit-transform: translate3d(8vw, 67vh, 33px);
        transform: translate3d(8vw, 67vh, 33px);
    }
}
.particle:nth-child(3) {
    -webkit-animation: particle-animation-3 60s infinite;
    animation: particle-animation-3 60s infinite;
    opacity: 0.25;
    height: 7px;
    width: 7px;
    -webkit-animation-delay: -0.6s;
    animation-delay: -0.6s;
    -webkit-transform: translate3d(65vw, 87vh, 91px);
    transform: translate3d(65vw, 87vh, 91px);
    background: #26d980;
}

@-webkit-keyframes particle-animation-4 {
    100% {
        -webkit-transform: translate3d(71vw, 14vh, 73px);
        transform: translate3d(71vw, 14vh, 73px);
    }
}

@keyframes particle-animation-4 {
    100% {
        -webkit-transform: translate3d(71vw, 14vh, 73px);
        transform: translate3d(71vw, 14vh, 73px);
    }
}
.particle:nth-child(4) {
    -webkit-animation: particle-animation-4 60s infinite;
    animation: particle-animation-4 60s infinite;
    opacity: 0.16;
    height: 6px;
    width: 6px;
    -webkit-animation-delay: -0.8s;
    animation-delay: -0.8s;
    -webkit-transform: translate3d(48vw, 40vh, 100px);
    transform: translate3d(48vw, 40vh, 100px);
    background: #26d95f;
}

@-webkit-keyframes particle-animation-5 {
    100% {
        -webkit-transform: translate3d(74vw, 86vh, 46px);
        transform: translate3d(74vw, 86vh, 46px);
    }
}

@keyframes particle-animation-5 {
    100% {
        -webkit-transform: translate3d(74vw, 86vh, 46px);
        transform: translate3d(74vw, 86vh, 46px);
    }
}
.particle:nth-child(5) {
    -webkit-animation: particle-animation-5 60s infinite;
    animation: particle-animation-5 60s infinite;
    opacity: 0.74;
    height: 10px;
    width: 10px;
    -webkit-animation-delay: -1s;
    animation-delay: -1s;
    -webkit-transform: translate3d(65vw, 46vh, 44px);
    transform: translate3d(65vw, 46vh, 44px);
    background: #267ad9;
}

@-webkit-keyframes particle-animation-6 {
    100% {
        -webkit-transform: translate3d(57vw, 68vh, 18px);
        transform: translate3d(57vw, 68vh, 18px);
    }
}

@keyframes particle-animation-6 {
    100% {
        -webkit-transform: translate3d(57vw, 68vh, 18px);
        transform: translate3d(57vw, 68vh, 18px);
    }
}
.particle:nth-child(6) {
    -webkit-animation: particle-animation-6 60s infinite;
    animation: particle-animation-6 60s infinite;
    opacity: 0.9;
    height: 10px;
    width: 10px;
    -webkit-animation-delay: -1.2s;
    animation-delay: -1.2s;
    -webkit-transform: translate3d(35vw, 31vh, 11px);
    transform: translate3d(35vw, 31vh, 11px);
    background: #d926cd;
}

@-webkit-keyframes particle-animation-7 {
    100% {
        -webkit-transform: translate3d(87vw, 36vh, 47px);
        transform: translate3d(87vw, 36vh, 47px);
    }
}

@keyframes particle-animation-7 {
    100% {
        -webkit-transform: translate3d(87vw, 36vh, 47px);
        transform: translate3d(87vw, 36vh, 47px);
    }
}
.particle:nth-child(7) {
    -webkit-animation: particle-animation-7 60s infinite;
    animation: particle-animation-7 60s infinite;
    opacity: 0.75;
    height: 8px;
    width: 8px;
    -webkit-animation-delay: -1.4s;
    animation-delay: -1.4s;
    -webkit-transform: translate3d(20vw, 3vh, 23px);
    transform: translate3d(20vw, 3vh, 23px);
    background: #26c4d9;
}

@-webkit-keyframes particle-animation-8 {
    100% {
        -webkit-transform: translate3d(39vw, 45vh, 84px);
        transform: translate3d(39vw, 45vh, 84px);
    }
}

@keyframes particle-animation-8 {
    100% {
        -webkit-transform: translate3d(39vw, 45vh, 84px);
        transform: translate3d(39vw, 45vh, 84px);
    }
}
.particle:nth-child(8) {
    -webkit-animation: particle-animation-8 60s infinite;
    animation: particle-animation-8 60s infinite;
    opacity: 0.49;
    height: 7px;
    width: 7px;
    -webkit-animation-delay: -1.6s;
    animation-delay: -1.6s;
    -webkit-transform: translate3d(24vw, 5vh, 91px);
    transform: translate3d(24vw, 5vh, 91px);
    background: #acd926;
}

@-webkit-keyframes particle-animation-9 {
    100% {
        -webkit-transform: translate3d(8vw, 19vh, 3px);
        transform: translate3d(8vw, 19vh, 3px);
    }
}

@keyframes particle-animation-9 {
    100% {
        -webkit-transform: translate3d(8vw, 19vh, 3px);
        transform: translate3d(8vw, 19vh, 3px);
    }
}
.particle:nth-child(9) {
    -webkit-animation: particle-animation-9 60s infinite;
    animation: particle-animation-9 60s infinite;
    opacity: 0.59;
    height: 10px;
    width: 10px;
    -webkit-animation-delay: -1.8s;
    animation-delay: -1.8s;
    -webkit-transform: translate3d(63vw, 43vh, 67px);
    transform: translate3d(63vw, 43vh, 67px);
    background: #26d99a;
}

@-webkit-keyframes particle-animation-10 {
    100% {
        -webkit-transform: translate3d(23vw, 86vh, 71px);
        transform: translate3d(23vw, 86vh, 71px);
    }
}

@keyframes particle-animation-10 {
    100% {
        -webkit-transform: translate3d(23vw, 86vh, 71px);
        transform: translate3d(23vw, 86vh, 71px);
    }
}
.particle:nth-child(10) {
    -webkit-animation: particle-animation-10 60s infinite;
    animation: particle-animation-10 60s infinite;
    opacity: 0.7;
    height: 7px;
    width: 7px;
    -webkit-animation-delay: -2s;
    animation-delay: -2s;
    -webkit-transform: translate3d(16vw, 35vh, 58px);
    transform: translate3d(16vw, 35vh, 58px);
    background: #a026d9;
}

@-webkit-keyframes particle-animation-11 {
    100% {
        -webkit-transform: translate3d(24vw, 65vh, 98px);
        transform: translate3d(24vw, 65vh, 98px);
    }
}

@keyframes particle-animation-11 {
    100% {
        -webkit-transform: translate3d(24vw, 65vh, 98px);
        transform: translate3d(24vw, 65vh, 98px);
    }
}
.particle:nth-child(11) {
    -webkit-animation: particle-animation-11 60s infinite;
    animation: particle-animation-11 60s infinite;
    opacity: 0.53;
    height: 6px;
    width: 6px;
    -webkit-animation-delay: -2.2s;
    animation-delay: -2.2s;
    -webkit-transform: translate3d(61vw, 17vh, 99px);
    transform: translate3d(61vw, 17vh, 99px);
    background: #26d950;
}

@-webkit-keyframes particle-animation-12 {
    100% {
        -webkit-transform: translate3d(65vw, 4vh, 99px);
        transform: translate3d(65vw, 4vh, 99px);
    }
}

@keyframes particle-animation-12 {
    100% {
        -webkit-transform: translate3d(65vw, 4vh, 99px);
        transform: translate3d(65vw, 4vh, 99px);
    }
}
.particle:nth-child(12) {
    -webkit-animation: particle-animation-12 60s infinite;
    animation: particle-animation-12 60s infinite;
    opacity: 0.36;
    height: 7px;
    width: 7px;
    -webkit-animation-delay: -2.4s;
    animation-delay: -2.4s;
    -webkit-transform: translate3d(69vw, 9vh, 55px);
    transform: translate3d(69vw, 9vh, 55px);
    background: #62d926;
}

@-webkit-keyframes particle-animation-13 {
    100% {
        -webkit-transform: translate3d(26vw, 87vh, 44px);
        transform: translate3d(26vw, 87vh, 44px);
    }
}

@keyframes particle-animation-13 {
    100% {
        -webkit-transform: translate3d(26vw, 87vh, 44px);
        transform: translate3d(26vw, 87vh, 44px);
    }
}
.particle:nth-child(13) {
    -webkit-animation: particle-animation-13 60s infinite;
    animation: particle-animation-13 60s infinite;
    opacity: 0.8;
    height: 10px;
    width: 10px;
    -webkit-animation-delay: -2.6s;
    animation-delay: -2.6s;
    -webkit-transform: translate3d(5vw, 69vh, 74px);
    transform: translate3d(5vw, 69vh, 74px);
    background: #2fd926;
}

@-webkit-keyframes particle-animation-14 {
    100% {
        -webkit-transform: translate3d(6vw, 66vh, 29px);
        transform: translate3d(6vw, 66vh, 29px);
    }
}

@keyframes particle-animation-14 {
    100% {
        -webkit-transform: translate3d(6vw, 66vh, 29px);
        transform: translate3d(6vw, 66vh, 29px);
    }
}
.particle:nth-child(14) {
    -webkit-animation: particle-animation-14 60s infinite;
    animation: particle-animation-14 60s infinite;
    opacity: 0.69;
    height: 6px;
    width: 6px;
    -webkit-animation-delay: -2.8s;
    animation-delay: -2.8s;
    -webkit-transform: translate3d(70vw, 81vh, 7px);
    transform: translate3d(70vw, 81vh, 7px);
    background: #5926d9;
}

@-webkit-keyframes particle-animation-15 {
    100% {
        -webkit-transform: translate3d(38vw, 17vh, 47px);
        transform: translate3d(38vw, 17vh, 47px);
    }
}

@keyframes particle-animation-15 {
    100% {
        -webkit-transform: translate3d(38vw, 17vh, 47px);
        transform: translate3d(38vw, 17vh, 47px);
    }
}
.particle:nth-child(15) {
    -webkit-animation: particle-animation-15 60s infinite;
    animation: particle-animation-15 60s infinite;
    opacity: 0.9;
    height: 8px;
    width: 8px;
    -webkit-animation-delay: -3s;
    animation-delay: -3s;
    -webkit-transform: translate3d(6vw, 76vh, 2px);
    transform: translate3d(6vw, 76vh, 2px);
    background: #26a9d9;
}

@-webkit-keyframes particle-animation-16 {
    100% {
        -webkit-transform: translate3d(18vw, 66vh, 65px);
        transform: translate3d(18vw, 66vh, 65px);
    }
}

@keyframes particle-animation-16 {
    100% {
        -webkit-transform: translate3d(18vw, 66vh, 65px);
        transform: translate3d(18vw, 66vh, 65px);
    }
}
.particle:nth-child(16) {
    -webkit-animation: particle-animation-16 60s infinite;
    animation: particle-animation-16 60s infinite;
    opacity: 0.31;
    height: 7px;
    width: 7px;
    -webkit-animation-delay: -3.2s;
    animation-delay: -3.2s;
    -webkit-transform: translate3d(10vw, 84vh, 34px);
    transform: translate3d(10vw, 84vh, 34px);
    background: #a626d9;
}

@-webkit-keyframes particle-animation-17 {
    100% {
        -webkit-transform: translate3d(54vw, 40vh, 13px);
        transform: translate3d(54vw, 40vh, 13px);
    }
}

@keyframes particle-animation-17 {
    100% {
        -webkit-transform: translate3d(54vw, 40vh, 13px);
        transform: translate3d(54vw, 40vh, 13px);
    }
}
.particle:nth-child(17) {
    -webkit-animation: particle-animation-17 60s infinite;
    animation: particle-animation-17 60s infinite;
    opacity: 0.98;
    height: 10px;
    width: 10px;
    -webkit-animation-delay: -3.4s;
    animation-delay: -3.4s;
    -webkit-transform: translate3d(59vw, 29vh, 33px);
    transform: translate3d(59vw, 29vh, 33px);
    background: #26cdd9;
}

@-webkit-keyframes particle-animation-18 {
    100% {
        -webkit-transform: translate3d(20vw, 59vh, 45px);
        transform: translate3d(20vw, 59vh, 45px);
    }
}

@keyframes particle-animation-18 {
    100% {
        -webkit-transform: translate3d(20vw, 59vh, 45px);
        transform: translate3d(20vw, 59vh, 45px);
    }
}
.particle:nth-child(18) {
    -webkit-animation: particle-animation-18 60s infinite;
    animation: particle-animation-18 60s infinite;
    opacity: 0.09;
    height: 6px;
    width: 6px;
    -webkit-animation-delay: -3.6s;
    animation-delay: -3.6s;
    -webkit-transform: translate3d(1vw, 41vh, 96px);
    transform: translate3d(1vw, 41vh, 96px);
    background: #d926a0;
}

@-webkit-keyframes particle-animation-19 {
    100% {
        -webkit-transform: translate3d(74vw, 50vh, 31px);
        transform: translate3d(74vw, 50vh, 31px);
    }
}

@keyframes particle-animation-19 {
    100% {
        -webkit-transform: translate3d(74vw, 50vh, 31px);
        transform: translate3d(74vw, 50vh, 31px);
    }
}
.particle:nth-child(19) {
    -webkit-animation: particle-animation-19 60s infinite;
    animation: particle-animation-19 60s infinite;
    opacity: 0.22;
    height: 6px;
    width: 6px;
    -webkit-animation-delay: -3.8s;
    animation-delay: -3.8s;
    -webkit-transform: translate3d(32vw, 56vh, 53px);
    transform: translate3d(32vw, 56vh, 53px);
    background: #2668d9;
}

@-webkit-keyframes particle-animation-20 {
    100% {
        -webkit-transform: translate3d(24vw, 84vh, 57px);
        transform: translate3d(24vw, 84vh, 57px);
    }
}

@keyframes particle-animation-20 {
    100% {
        -webkit-transform: translate3d(24vw, 84vh, 57px);
        transform: translate3d(24vw, 84vh, 57px);
    }
}
.particle:nth-child(20) {
    -webkit-animation: particle-animation-20 60s infinite;
    animation: particle-animation-20 60s infinite;
    opacity: 0.15;
    height: 9px;
    width: 9px;
    -webkit-animation-delay: -4s;
    animation-delay: -4s;
    -webkit-transform: translate3d(83vw, 13vh, 8px);
    transform: translate3d(83vw, 13vh, 8px);
    background: #26c7d9;
}

@-webkit-keyframes particle-animation-21 {
    100% {
        -webkit-transform: translate3d(74vw, 61vh, 6px);
        transform: translate3d(74vw, 61vh, 6px);
    }
}

@keyframes particle-animation-21 {
    100% {
        -webkit-transform: translate3d(74vw, 61vh, 6px);
        transform: translate3d(74vw, 61vh, 6px);
    }
}
.particle:nth-child(21) {
    -webkit-animation: particle-animation-21 60s infinite;
    animation: particle-animation-21 60s infinite;
    opacity: 0.62;
    height: 6px;
    width: 6px;
    -webkit-animation-delay: -4.2s;
    animation-delay: -4.2s;
    -webkit-transform: translate3d(81vw, 43vh, 18px);
    transform: translate3d(81vw, 43vh, 18px);
    background: #d926a3;
}

@-webkit-keyframes particle-animation-22 {
    100% {
        -webkit-transform: translate3d(47vw, 78vh, 15px);
        transform: translate3d(47vw, 78vh, 15px);
    }
}

@keyframes particle-animation-22 {
    100% {
        -webkit-transform: translate3d(47vw, 78vh, 15px);
        transform: translate3d(47vw, 78vh, 15px);
    }
}
.particle:nth-child(22) {
    -webkit-animation: particle-animation-22 60s infinite;
    animation: particle-animation-22 60s infinite;
    opacity: 0.16;
    height: 8px;
    width: 8px;
    -webkit-animation-delay: -4.4s;
    animation-delay: -4.4s;
    -webkit-transform: translate3d(42vw, 2vh, 19px);
    transform: translate3d(42vw, 2vh, 19px);
    background: #2c26d9;
}

@-webkit-keyframes particle-animation-23 {
    100% {
        -webkit-transform: translate3d(84vw, 54vh, 55px);
        transform: translate3d(84vw, 54vh, 55px);
    }
}

@keyframes particle-animation-23 {
    100% {
        -webkit-transform: translate3d(84vw, 54vh, 55px);
        transform: translate3d(84vw, 54vh, 55px);
    }
}
.particle:nth-child(23) {
    -webkit-animation: particle-animation-23 60s infinite;
    animation: particle-animation-23 60s infinite;
    opacity: 0.42;
    height: 10px;
    width: 10px;
    -webkit-animation-delay: -4.6s;
    animation-delay: -4.6s;
    -webkit-transform: translate3d(88vw, 1vh, 62px);
    transform: translate3d(88vw, 1vh, 62px);
    background: #2697d9;
}

@-webkit-keyframes particle-animation-24 {
    100% {
        -webkit-transform: translate3d(55vw, 42vh, 81px);
        transform: translate3d(55vw, 42vh, 81px);
    }
}

@keyframes particle-animation-24 {
    100% {
        -webkit-transform: translate3d(55vw, 42vh, 81px);
        transform: translate3d(55vw, 42vh, 81px);
    }
}
.particle:nth-child(24) {
    -webkit-animation: particle-animation-24 60s infinite;
    animation: particle-animation-24 60s infinite;
    opacity: 0.73;
    height: 9px;
    width: 9px;
    -webkit-animation-delay: -4.8s;
    animation-delay: -4.8s;
    -webkit-transform: translate3d(80vw, 64vh, 94px);
    transform: translate3d(80vw, 64vh, 94px);
    background: #5f26d9;
}

@-webkit-keyframes particle-animation-25 {
    100% {
        -webkit-transform: translate3d(16vw, 78vh, 96px);
        transform: translate3d(16vw, 78vh, 96px);
    }
}

@keyframes particle-animation-25 {
    100% {
        -webkit-transform: translate3d(16vw, 78vh, 96px);
        transform: translate3d(16vw, 78vh, 96px);
    }
}
.particle:nth-child(25) {
    -webkit-animation: particle-animation-25 60s infinite;
    animation: particle-animation-25 60s infinite;
    opacity: 0.36;
    height: 8px;
    width: 8px;
    -webkit-animation-delay: -5s;
    animation-delay: -5s;
    -webkit-transform: translate3d(85vw, 74vh, 49px);
    transform: translate3d(85vw, 74vh, 49px);
    background: #26d994;
}

@-webkit-keyframes particle-animation-26 {
    100% {
        -webkit-transform: translate3d(60vw, 71vh, 74px);
        transform: translate3d(60vw, 71vh, 74px);
    }
}

@keyframes particle-animation-26 {
    100% {
        -webkit-transform: translate3d(60vw, 71vh, 74px);
        transform: translate3d(60vw, 71vh, 74px);
    }
}
.particle:nth-child(26) {
    -webkit-animation: particle-animation-26 60s infinite;
    animation: particle-animation-26 60s infinite;
    opacity: 0.87;
    height: 7px;
    width: 7px;
    -webkit-animation-delay: -5.2s;
    animation-delay: -5.2s;
    -webkit-transform: translate3d(7vw, 55vh, 42px);
    transform: translate3d(7vw, 55vh, 42px);
    background: #26bed9;
}

@-webkit-keyframes particle-animation-27 {
    100% {
        -webkit-transform: translate3d(31vw, 11vh, 6px);
        transform: translate3d(31vw, 11vh, 6px);
    }
}

@keyframes particle-animation-27 {
    100% {
        -webkit-transform: translate3d(31vw, 11vh, 6px);
        transform: translate3d(31vw, 11vh, 6px);
    }
}
.particle:nth-child(27) {
    -webkit-animation: particle-animation-27 60s infinite;
    animation: particle-animation-27 60s infinite;
    opacity: 0.67;
    height: 10px;
    width: 10px;
    -webkit-animation-delay: -5.4s;
    animation-delay: -5.4s;
    -webkit-transform: translate3d(56vw, 55vh, 90px);
    transform: translate3d(56vw, 55vh, 90px);
    background: #2659d9;
}

@-webkit-keyframes particle-animation-28 {
    100% {
        -webkit-transform: translate3d(63vw, 3vh, 100px);
        transform: translate3d(63vw, 3vh, 100px);
    }
}

@keyframes particle-animation-28 {
    100% {
        -webkit-transform: translate3d(63vw, 3vh, 100px);
        transform: translate3d(63vw, 3vh, 100px);
    }
}
.particle:nth-child(28) {
    -webkit-animation: particle-animation-28 60s infinite;
    animation: particle-animation-28 60s infinite;
    opacity: 0.41;
    height: 6px;
    width: 6px;
    -webkit-animation-delay: -5.6s;
    animation-delay: -5.6s;
    -webkit-transform: translate3d(18vw, 46vh, 48px);
    transform: translate3d(18vw, 46vh, 48px);
    background: #26d9ca;
}

@-webkit-keyframes particle-animation-29 {
    100% {
        -webkit-transform: translate3d(47vw, 67vh, 9px);
        transform: translate3d(47vw, 67vh, 9px);
    }
}

@keyframes particle-animation-29 {
    100% {
        -webkit-transform: translate3d(47vw, 67vh, 9px);
        transform: translate3d(47vw, 67vh, 9px);
    }
}
.particle:nth-child(29) {
    -webkit-animation: particle-animation-29 60s infinite;
    animation: particle-animation-29 60s infinite;
    opacity: 0.67;
    height: 6px;
    width: 6px;
    -webkit-animation-delay: -5.8s;
    animation-delay: -5.8s;
    -webkit-transform: translate3d(15vw, 26vh, 39px);
    transform: translate3d(15vw, 26vh, 39px);
    background: #d9a026;
}

@-webkit-keyframes particle-animation-30 {
    100% {
        -webkit-transform: translate3d(35vw, 58vh, 50px);
        transform: translate3d(35vw, 58vh, 50px);
    }
}

@keyframes particle-animation-30 {
    100% {
        -webkit-transform: translate3d(35vw, 58vh, 50px);
        transform: translate3d(35vw, 58vh, 50px);
    }
}
.particle:nth-child(30) {
    -webkit-animation: particle-animation-30 60s infinite;
    animation: particle-animation-30 60s infinite;
    opacity: 0.91;
    height: 8px;
    width: 8px;
    -webkit-animation-delay: -6s;
    animation-delay: -6s;
    -webkit-transform: translate3d(29vw, 11vh, 58px);
    transform: translate3d(29vw, 11vh, 58px);
    background: #26d977;
}


/*End Keyframes*/

@media screen and (max-device-width: 667px) and (orientation: landscape) {
    .content {
        height: auto;
        display: block;
        padding: 5rem 0 5rem;
    }
    .content .content-box {
        padding: 0 1rem;
    }
    .content .content-box .big-content {
        -webkit-transform: scale(0.8);
        -moz-transform: scale(0.8);
        -ms-transform: scale(0.8);
        -o-transform: scale(0.8);
        transform: scale(0.8);
        margin: 0 auto;
    }

    footer {
        position: relative;
        padding-bottom: 5rem;
    }
    footer ul li {
        width: 100%;
        margin-bottom: 1rem;
    }
    footer ul li::after {
        display: none;
    }
    footer ul li a {
        padding: 0;
    }
    footer ul li a::after {
        display: none;
    }

    #particles-js {
        top: 0;
        left: 0;
        width: 100vw;
        height: 100vh;
    }
}
