<footer class="footer text-right">
  <div class="container">
    <div class="row">
      <div class="col-xs-6">
        © 2018 Corporate Affairs Commission
      </div>
      <div class="col-xs-6">
        <ul class="pull-right list-inline m-b-0">
          <li>
            <a href="#">Privacy Policy</a>
          </li>
          <span>|</span>
          <li>
            <a href="#">Portal Terms of Use</a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</footer>
