<div class="ui segment root">
  <h1 class="ui dividing header">Forgot Password</h1>

  <div class="ui attached error message" *ngIf="error">
    {{error}}
  </div>
  <div class="ui attached success message" *ngIf="successMessage">
    {{successMessage}}
  </div>
  <form class="ui form" [formGroup]="form" (submit)="submit()">
    <div class="field">
      <label>Enter your email and we will send you a password reset mail.</label>
      <input name="email" formControlName="email">
    </div>
    <button type="submit" class="ui primary submit button" [class.disabled]="form.invalid || loading">
      <i class="notched circle loading icon" *ngIf="loading"></i>
      Submit</button>
  </form>
</div>