<header>
  <app-navbar></app-navbar>
  <app-breadcrumbs></app-breadcrumbs>

  <!--<div *ngIf="!user">-->
    <!--<div  class="account-pages-mix overlay-mix"></div>-->
    <!--<div  class="clearfix"></div>-->
  <!--</div>-->

</header>



